services:
  api:
    build: ./app
    environment:
      APP_ENV: "lab"
      DATABASE_URL: "postgresql+psycopg2://lab:lab@db:5432/lab"
      REDIS_URL: "redis://redis:6379/0"
      DANGER_MODE: "false"
      WEAK_AUTH_MODE: "true"
      LOG_LEVEL: "INFO"
      #DD APM/AppSec
      DD_AGENT_HOST: "datadog"
      DD_TRACE_AGENT_PORT: "8126"
      DD_SERVICE: "dd-security-test-app"
      DD_ENV: "test"
      DD_VERSION: "1.0"
      DD_APPSEC_ENABLED: "true"

      # Below envs are optional if you want SCA signals or IAST vuln signals, just uncomment. 
      #DD_APPSEC_SCA_ENABLED: "true"         #Supported for Java, .NET, Go, Ruby, PHP, Node.js & Python
      #DD_IAST_ENABLED: "true"               

      # If you want APM traces to always be sent (useful for testing)
      #DD_TRACE_SAMPLE_RATE: "1.0"


      
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: lab
      POSTGRES_PASSWORD: lab
      POSTGRES_DB: lab
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U lab -d lab -h localhost"]
      interval: 2s
      timeout: 3s
      retries: 30

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  datadog:
    image: gcr.io/datadoghq/agent:latest
    environment:
      DD_API_KEY: "${DD_API_KEY}"
      DD_SITE: "${DD_SITE:-datadoghq.com}"

      DD_ENV: "test"
      DD_SERVICE: "dd-security-test-app"

      # Logs
      DD_LOGS_ENABLED: "true"
      DD_LOGS_CONFIG_CONTAINER_COLLECT_ALL: "true"

      # Optional (nice to have)
      DD_DOGSTATSD_NON_LOCAL_TRAFFIC: "true"
      DD_APM_ENABLED: "true"
      DD_APM_NON_LOCAL_TRAFFIC: "true"   # important when app is in another container
      DD_REMOTE_CONFIGURATION_ENABLED: "true"  # optional but helps with live config

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc:/host/proc:ro
      - /sys/fs/cgroup:/host/sys/fs/cgroup:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
    ports:
      - "8126:8126"   # APM intake (optional for later)
      - "8125:8125/udp" # DogStatsD (optional for later)

volumes:
  pgdata:
